<ion-view title="Pesquisa">
	<ion-nav-buttons side="right">
		<button ng-click="vm.loginlogout()" ng-class="{'ion-log-out': isLogged, 'ion-ios-person': !isLogged}" class="button button-icon icon"></button>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<form ng-submit="vm.goResults()">
				<label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Palavra-chave" ng-model="options.palavras">
				</label>
			</form>
			<label class="item item-input item-select" ng-repeat="(key, node) in vm.searchs">
				<div class="input-label"> {{node.nome}} </div>
				<select ng-if="node.nome == 'Módulo'" name="tema-{{key}}" ng-change="vm.filterSearch()" ng-model="options.tema" ng-options="option.codTema as option.tema for option in node.combo"></select>
				<select ng-if="node.nome == 'Tema'" name="modulo-{{key}}" ng-change="vm.filterSearch()" ng-model="options.modulo" ng-options="option.codModulo as option.nomeModulo for option in node.combo"></select>
				<select ng-if="node.nome == 'Palestras'" name="palestras-{{key}}" ng-change="vm.filterSearch()" ng-model="options.palestras" ng-options="option.codAula as option.nomeAula for option in node.combo"></select>
				<select ng-if="node.nome == 'Palestrantes'" name="palestrantes-{{key}}" ng-change="vm.filterSearch()" ng-model="options.palestrantes" ng-options="option.codAutor as option.nomeAutor for option in node.combo"></select>
				<select ng-if="node.nome == 'Datas'" name="data-{{key}}" ng-change="vm.filterSearch()" ng-model="options.datas" ng-options="option.dataAula as option.dataAula for option in node.combo"></select>
			</label>
			<div class="padding">
				<button class="button button-outline button-block button-positive" ng-click="vm.clearSearch()"> Limpar </button>
				<a href="#/result" class="button button-outline button-block button-positive"> Pesquisar </a>
			</div>
		</div>
	</ion-content>
</ion-view>