<ion-view title="Login">
	<ion-content>
		<form novalidate name="formlogin" ng-submit="vm.doLogin()">
            <div class="list">
            	<label class="item item-input item-select">
					<div class="input-label"> Categoria </div>
					<select ng-model="vm.loginData.category" ng-options="option.value as option.txt for option in vm.combo" required></select>
				</label>
                <label class="item item-input">
                    <span class="input-label">CPF</span>
                    <input type="text" ng-model="vm.loginData.cpf" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" ng-model="vm.loginData.password" required>
                </label>
                <label class="item">
                    <button class="button button-block" type="submit" ng-disabled="formlogin.$invalid">Entrar</button>
                </label>
            </div>
        </form>
        <!-- <p class="txt-center">para se cadastrar, clique <a href="" ng-click="vm.openExternalLink()">aqui!</a></p> -->
	</ion-content>
</ion-view>