<ion-view title="Resultados">
	<ion-content>
		<div class="list" ng-if="vm.results != 'false'">
			<a class="item item-icon-right" href="" ng-click="vm.goVideo(result.linkAula)" ng-repeat="(key, result) in vm.results">
				<i class="icon ion-ios-arrow-right"></i>
				<h2>{{result.nomeAula}}</h2>
				<p>{{result.nomeAutor}}</p>
			</a>
		</div>
		<div ng-if="vm.results == 'false'" class="padding">
			<p>Nenhum resultado encontrado.</p>
		</div>
	</ion-content>
</ion-view>